.task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  gap: 10px;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  background-color: var(--text-color);
  box-shadow: 0.1px 1.3px 3.2px rgba(0, 0, 0, 0.02),
    0.3px 3.2px 7.6px rgba(0, 0, 0, 0.028),
    0.6px 6px 14.3px rgba(0, 0, 0, 0.035),
    1.1px 10.7px 25.5px rgba(0, 0, 0, 0.042),
    2.1px 20.1px 47.6px rgba(0, 0, 0, 0.05), 5px 48px 114px rgba(0, 0, 0, 0.07);
  margin: 20px auto;
}

.task-form > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.task-form-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--sidebar-color);
}

.close-icon {
  transform: rotate(45deg);
  color: var(--sidebar-color);
  cursor: pointer;
}

.task-form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 15px;
}

.task-form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--sidebar-color);
}

.task-form-group > label {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--sidebar-color);
}

.task-form-group > input,
#status {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 5px;
  border: 2px solid var(--sidebar-color);
  width: 100%;
}

.task-form-group-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 20px;
  padding: 15px;
}

input[type="date"] {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 5px;
  border: 2px solid var(--sidebar-color);
  outline: none;
}
/* ::-webkit-datetime-edit {
  background-color: var(--sidebar-color);
}

::-webkit-datetime-edit {
  background-color: var(--sidebar-color);
  padding: 8px;
  border-radius: 5px;
  border-radius: 5px 0px 0px 5px;
}
::-webkit-calendar-picker-indicator {
  background-color: var(--sidebar-color);
  padding: 12px;
  border-radius: 0px 5px 5px 0px;
} */

.start-date > label,
.end-date > label {
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 700;
  color: var(--sidebar-color);
}

option {
  color: var(--text-color);
  background-color: var(--sidebar-color);
  font-size: 12px;
}

#status:hover {
  background-color: var(--sidebar-color-hover);
  outline: none;
}

option:hover {
  background-color: var(--sidebar-color-hover);
  outline: none;
}

.submit-action-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.add-task-form-btn {
  padding: 10px 60px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: var(--sidebar-color);
  color: var(--text-color);
  cursor: pointer;
}
