#search-form {
  position: relative;
}
#search-form > input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 40px;
}

.search-icon {
  position: absolute;
  top: 1.2em;
  left: 20%;
  color: var(--sidebar-color);
}

#search-form > input:focus {
  outline: none;
  border: 1px solid var(--sidebar-color);
}
