.signip-div {
  display: grid;
  grid-template-columns: 50% 1fr;
  height: 90vh;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 2.2px rgba(0, 0, 0, 0.02),
    0px 0px 5.3px rgba(0, 0, 0, 0.028), 0px 0px 10px rgba(0, 0, 0, 0.035),
    0px 0px 17.9px rgba(0, 0, 0, 0.042), 0px 0px 33.4px rgba(0, 0, 0, 0.05),
    0px 0px 80px rgba(0, 0, 0, 0.07);
}

.signup-form {
  height: 100%;
  padding: 10px;
}

.signup-form-header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
}

.signup-form-input {
  padding: 10px;
}

.form-header {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-style: italic;
  font-size: 2rem;
  color: var(--sidebar-color);
}
.signup-form-input > input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--sidebar-color);
  padding: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.signup-form-input > input:focus {
  outline: none;
}

.sign-icons {
  position: relative;
  top: 30px;
  left: 10px;
  color: var(--sidebar-color);
}

.signup-form-footer {
  padding: 10px;
}

.signup-form-footer > p {
  text-align: center;
}

.signup-btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--sidebar-color);
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--sidebar-color);
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}

.signup-form-side {
  background: var(--sidebar-color);
  background: -webkit-linear-gradient(
    to right,
    #6b0504,
    #a9110e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6b0504,
    #a9110e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 0px 15px 15px 0px;
}

.signup-form-side > img {
  width: 60%;
  height: 70%;
  margin: 0 auto;
  display: block;
}

.signup-form-side h1,
.signup-form-side p {
  color: var(--text-color);
  padding: 10px;
}

.signup-form-side p {
  text-align: justify;
}

.signup-form-side h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-emphasis: none;
}

.loading {
  animation: l 1s steps(4) infinite;
  clip-path: inset(0 1.2ch 0 0);
}
@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
