.sidebar {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.top-part {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: #151719;
  color: #fff;
  transition: all 0.3s;
  z-index: 1;
}


